body{
  background-color: #222;
}

.title-logo {
  font-family: 'IM Fell English', sans-serif;
  font-size: 4em;
  text-align: center;

  color: #fff;

  padding-top: 0.5em;
  padding-bottom: 0.25em;

}

.port-hint {
  font-family: 'IM Fell English', sans-serif;
  font-size: 2em;
  text-align: center;

  color: #fff;

  padding-top: 0.5em;
  padding-bottom: 0.25em;

}

.menu {
  background-color: #444;
  color: #fff;
}

.button:hover {
  color: #fff;
  background-color: #222;
}

.bottom-bar {
  background-color: #222;
  color: #fff;
}
